name: Generate targeted PRs

on:
  workflow_dispatch:
    inputs:
      target_pr:
        description: 'The URL of the PR that contains the release to target for updates'
        required: false
        type: string

jobs:
  scala-steward:
    permissions:
      contents: read
      pull-requests: read
    name: scala-steward
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - uses: guardian/setup-scala@cc7b39e238d789370aa98fa5f07e609b6527657d # v1.1.0
      
      - name: Write a custom scala-steward configuration to target a specific artifact
        env:
          TARGETED_RELEASES_GITHUB_APP_CLIENT_ID: 214238
          TARGETED_RELEASES_GITHUB_APP_PRIVATE_KEY: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}
        run: sbt "run ${{ inputs.target_pr }} targeted-scala-steward.conf"
        
      - name: Execute Scala Steward
        uses: scala-steward-org/scala-steward-action@e47786bae0a964b4202df1d66b65c581a53257b0 # v2.83.0
        with:
          github-app-id: 214238
          github-app-installation-id: 26822732
          github-app-key: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}
          repo-config: targeted-scala-steward.conf
          other-args: "--add-labels"
