name: Generate targeted PRs

on:
  workflow_dispatch:
    inputs:
      target_pr:
        description: 'The URL of the PR that contains the release to target for updates'
        required: false
        type: string

jobs:
  scala-steward:
    permissions:
      contents: read
      pull-requests: read
    name: scala-steward
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: guardian/setup-scala@v1
      - name: Write a custom scala-steward configuration to target a specific artifact
        env:
          TARGETED_RELEASES_GITHUB_APP_CLIENT_ID: 214238
          TARGETED_RELEASES_GITHUB_APP_PRIVATE_KEY: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}
        run: sbt "run ${{ inputs.target_pr }} targeted-scala-steward.conf"
      - name: Execute Scala Steward
        uses: scala-steward-org/scala-steward-action@v2.80.0
        with:
          github-app-id: 214238
          github-app-installation-id: 26822732
          github-app-key: ${{ secrets.SCALA_STEWARD_APP_PRIVATE_KEY }}
          repo-config: targeted-scala-steward.conf
          other-args: "--add-labels"
