name: Reusable Scala Steward workflow

on:
  workflow_call:
    inputs:
      app_id:
        required: true
        type: string
      app_installation_id:
        required: true
        type: string
    secrets:
      private_key:
        required: true

jobs:
  scala-steward:
    name: scala-steward
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo for REPOSITORIES.md (which lists either public or private repos)
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        
      - name: Checkout guardian/scala-steward-public-repos for our shared standard scala-steward.conf
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: guardian/scala-steward-public-repos
          path: common-config

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: "21"
          distribution: "corretto"

      - name: Execute Scala Steward
        uses: scala-steward-org/scala-steward-action@e47786bae0a964b4202df1d66b65c581a53257b0 # v2.83.0
        with:
          github-app-id: ${{ inputs.app_id }}
          github-app-installation-id: ${{ inputs.app_installation_id }}
          github-app-key: ${{ secrets.private_key }}
          repos-file: REPOSITORIES.md # possibly no longer necessary, thanks to `github-app-*` configuration
          repo-config: common-config/scala-steward.conf # from checkout of guardian/scala-steward-public-repos
          other-args: "--add-labels"
